service: applause-button

provider:
  name: aws
  runtime: nodejs8.10
  iamRoleStatements:
    - Effect: Allow
      Action:
        - dynamodb:GetItem
        - dynamodb:PutItem
        - dynamodb:UpdateItem
        - dynamodb:BatchGetItem
      Resource: "arn:aws:dynamodb:${opt:region, self:provider.region}:*:table/Applause"
    - Effect: Allow
      Action:
        - dynamodb:GetItem
        - dynamodb:PutItem
        - dynamodb:UpdateItem
        - dynamodb:BatchGetItem
      Resource: "arn:aws:dynamodb:${opt:region, self:provider.region}:*:table/OpenService"
      
functions:
  update-claps:
    handler: src/updateClaps.fn
    events:
      - http:
          path: update-claps
          method: post
          cors: true
  get-claps:
    handler: src/getClaps.fn
    events:
      - http:
          path: get-claps
          method: get
          cors: true
  get-multiple:
    handler: src/getMultiple.fn
    events:
      - http:
          path: get-multiple
          method: post
          cors: true
  invoke-webhooks:
    handler: src/invokeWebhooks.fn
    timeout: 200
    environment:
      WEBHOOK_URLS: '[{"user": "blog.scottlogic.com", "url": "https://kdngqixohc.execute-api.us-east-1.amazonaws.com/dev/claps-updated"}]'
    events:
      - stream: arn:aws:dynamodb:us-east-1:462989979267:table/Applause/stream/2018-06-01T07:43:12.629
  
